__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
.venv
venv
.git
.github
.vscode
*.log
.DS_Store
*.sqlite3
*.db
*.sql
*.sqlite
*.bak
*.swp
*~
# Local development files
.env
.env.local
.env.development
.env.test
.env.production
# Build files
build/
dist/
*.egg-info/
# IDE specific files
.idea/
.vscode/
*.sublime-*
