fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.7
python-decouple
pydantic[email]
pydantic-settings
pytesseract
Pillow
pdf2image
PyPDF2
reportlab
fastapi-cors
aiofiles
redis
celery
python-jose[cryptography]
email-validator
jwt