fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-decouple
pydantic
pydantic-settings
pytesseract
Pillow
pdf2image
PyPDF2
reportlab
fastapi-cors
aiofiles
redis
celery